body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.content {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

strong {
    color: #f5a623;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Adjust the ratio as needed */
    height: 100vh; /* Adjust the height as needed */
}

.content {
    padding: 20px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.sidebar {
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
